form li{
list-style:none;
margin-bottom:30px;
}

.rounded_border, .rounded_top_left{
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
}
.rounded_border, .rounded_top_right{
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
}
.rounded_border, .rounded_bottom_left{
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
}
.rounded_border, .rounded_bottom_right{
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
}


.cursor_pointer{
	cursor:pointer;
}

input{
border:1px solid darkgray;	
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
input:focus, textarea:focus, textarea{
outline:0px;
border:1px solid darkgray;
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}


.transparent_class {
	background:white;
	filter:alpha(opacity=75);    /* ie  */
	-moz-opacity:0.75;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.75;    /* for really really old safari */
	opacity: 0.75;    /* css standard, currently it works in most modern browsers like firefox,  */
}

